.img{
height:30px;
width: 30px;
position :relative;
padding-top: 10px;
padding-left: 10px;




}
.cap{
    position: relative;
padding-bottom: 0px;
padding-left: 10px;
}
.b1
{

    width: 100%;
max-width: 200px;
padding: 10px;
margin: 10px 0;
font-size: 1rem;
background-color: #6c757d;
color: #fff;
border: none;
cursor: pointer;
margin-left: 530px;
align-items: center;
text-transform: uppercase;
border-radius: 50px

}